assets/template/contact.jade
extends _layout

block content
    .banner
    .contact
        include block/breadcrumbs
        .contactHeader
            h1 Контактная информация
        .contactBody
            h3 620017, Санкт-Петербург, ул.Старых большевиков, д.2А/1, оф. 409
            p Обратитесь к нашим специалистам и получите профессиональную консультацию. Вы можете обратиться к нам по телефону, по электронной почте или договориться о встрече в нашем офисе. Будем рады помочь вам и ответить на все ваши вопросы.
            h3 Телефоны в главном офисе
            h4 +7 (343) 217-97-37
            h4 +7 (343) 228-44-32
        .contactMap
            h3 Офис на карте
            script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=gX--68D-78R2_fI714zASReaF6B6yesc&width=940&height=450")

public/contact.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Яуза</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    
  </head>
  <body>
    <div class="main-wrap">
      <div class="overlay">
        <div class="callback">
          <div class="callbackClose">
            <button class="buttonClose js-callbackClose"></button>
          </div>
          <div class="callbackForms">
            <div class="callbackHeader">Обратный звонок</div>
            <div class="callbackText">Мы не будем испытывать ваше терпение и перезвоним в течении 15-ти минут!</div>
            <div class="callbackForm">
              <div class="callbackFormInput">
                <input placeholder="Номер телефона" class="input">
              </div>
              <div class="callbackFormButton">
                <button class="buttonRed js-callbackResult">Отправить</button>
              </div>
            </div>
          </div>
          <div class="callbackResult">
            <div class="callbackResultImage"><img src="img/callbackResult.png" alt=""></div>
            <div class="callbackResultText">
              <h3>Уже набираем...</h3>
              <p>Мы не будем испытывать ваше терпение и перезвоним в течении 15-ти минут!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="headerWrap">
          <div class="headerLogo"><a href="#">Яуза</a></div>
          <div class="headerSlogan">Предлагаем решения, опираясь на широкий</br> ассортимент продукции</div>
          <div class="headerPhone"><i>(812)</i> 458-98-98</br><a href="javascript:void(0)" class="js-callback">Заказать звонок</a></div>
          <div class="headerAdress"><b>Санкт-Петербург</b>Невский проспект, 144</div>
        </div>
      </div>
      <div class="menu">
        <div class="menuItems">
          <div class="menuItem menuItemActive"><a href="#">О КОМПАНИИ</a></div>
          <div class="menuItem"><a href="#">ПРОДУКЦИЯ</a></div>
          <div class="menuItem"><a href="#">УСЛУГИ</a></div>
          <div class="menuItem"><a href="#">ОБЪЕКТЫ</a></div>
          <div class="menuItem"><a href="#">ДОКУМЕНТЫ</a></div>
          <div class="menuItem"><a href="#">НОВОСТИ</a></div>
          <div class="menuItem"><a href="#">КОНТАКТЫ</a></div>
        </div>
      </div>
      <div class="banner"></div>
      <div class="contact">
        <div class="breadcrumbs"><a href="#">Главная</a><a href="#">Продукция</a></div>
        <div class="contactHeader">
          <h1>Контактная информация</h1>
        </div>
        <div class="contactBody">
          <h3>620017, Санкт-Петербург, ул.Старых большевиков, д.2А/1, оф. 409</h3>
          <p>Обратитесь к нашим специалистам и получите профессиональную консультацию. Вы можете обратиться к нам по телефону, по электронной почте или договориться о встрече в нашем офисе. Будем рады помочь вам и ответить на все ваши вопросы.</p>
          <h3>Телефоны в главном офисе</h3>
          <h4>+7 (343) 217-97-37</h4>
          <h4>+7 (343) 228-44-32</h4>
        </div>
        <div class="contactMap">
          <h3>Офис на карте</h3>
          <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=gX--68D-78R2_fI714zASReaF6B6yesc&amp;width=940&amp;height=450"></script>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerItems">
        <div class="footerItem">
          <h4>Наш адрес</h4>
          <p>Россия, 620017, г. Санкт-Петербург</p>
          <p>Невский проспект, 144, оф.409</p>
          <p>Посмотреть на карте</p>
        </div>
        <div class="footerItem">
          <h4>Контакты</h4>
          <p>тел.: (812) 217-97-37</p>
          <p>тел.: (812) 228-44-32</p>
          <p><a href="mailto:почта@яуза.рф">почта@яуза.рф</a></p>
        </div>
        <div class="footerItem">
          <h4>О компании</h4>
          <p><a href="#">О компании</a></p>
          <p><a href="#">Услуги</a></p>
          <p><a href="#">Продукция</a></p>
        </div>
        <div class="footerItem footerItemRight">
          <h4>© «ЯУЗА» 2015</h4>
        </div>
      </div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
